# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django environment
.env


# Node.js
node_modules/
package-lock.json

# Editor settings
.vscode/

# Docker
*.pid
*.seed
*.bak

# Test results
test-results/


