<form method="POST" id="add-password-form">
    {% load static %}
    <link rel="stylesheet" href="{% static 'vault/add_password.css' %}">

    {% csrf_token %}
    
    {% if form.non_field_errors %}
    <div class="error-message">
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    
    <div class="form-field">
        <label for="{{ form.service_name.id_for_label }}">{{ form.service_name.label }}</label>
        {{ form.service_name }}
        {% if form.service_name.errors %}
        <div class="error-message">{{ form.service_name.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-field">
        <label for="{{ form.username_name.id_for_label }}">{{ form.username_name.label }}</label>
        {{ form.username_name }}
        {% if form.username_name.errors %}
        <div class="error-message">{{ form.username_name.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-field">
        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        {{ form.password }}
        {% if form.password.errors %}
        <div class="error-message">{{ form.password.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-field">
        <label for="{{ form.account_password.id_for_label }}">{{ form.account_password.label }}</label>
        {{ form.account_password }}
        {% if form.account_password.help_text %}
        <div class="help-text">{{ form.account_password.help_text }}</div>
        {% endif %}
        {% if form.account_password.errors %}
        <div class="error-message">{{ form.account_password.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-field">
        <label for="group_id">Group (optional):</label>
        <select name="group_id" id="group_id">
            <option value="">No Group</option>
            {% for group in groups %}
                <option value="{{ group.group_id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="buttons">
        <button type="submit" class="submit-btn">Add Password</button>
        <a href="/dashboard" class="cancel-btn">Cancel</a>
    </div>
    
    <!-- Link to external JavaScript files -->
    <script src="{% static 'vault/showpass.js' %}"></script>
    <script src="{% static 'vault/add_password.js' %}"></script>
</form>