{% load static %}

<script src="{% static 'vault/showPass.js' %}"></script>
<link rel="stylesheet" href="{% static 'vault/edit_password.css' %}">


<form method="POST">
    {% csrf_token %}
    
    <label for="service_name">Service Name:</label>
    <input type="text" name="service_name" value="{{ password.service_name }}" required>

    <label for="username_name">Username:</label>
    <input type="text" name="username_name" value="{{ password.username_name }}" required>

    <label for="password">Password:</label>
    <input type="text" id="password" name="password" value="******" readonly>
    <button type="button" id="showPasswordBtn" onclick="showPasswordEdit('{{ password.password }}', 'password')">Show Password</button>

    {% if show_account_password %}
    <label for="account_password">Enter your account password to encrypt:</label>
    <input type="password" name="account_password" required>
    {% endif %}

    <button type="submit">Save Changes</button>
    <a href="{% url 'dashboard' %}">Cancel</a>
</form>

