{% load static %}
<!DOCTYPE html>
<html lang="en">
   

<head> 
    <script src="{% static 'vault/generate_password.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vault/generate_password.css' %}">

    <meta charset="UTF-8">
    <title>Generate Password</title>
   
    
</head>
<body>
<div class="container">
    <h2>Strong Password Generator</h2>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Generate Password</button>
    </form>

    {% if password %}
        <div class="generated-password" id="password">{{ password }}</div>
        <button class="btn btn-outline-secondary" onclick="copyPassword()">Copy to Clipboard</button>
    {% endif %}
    <a href="{% url 'dashboard' %}">Back to dashboard</a>
</div>


</body>
</html>
